@font-face {
    font-family: "Centra";
    src: url(fonts/CentraNo2-Book.woff2);
}

@font-face {
    font-family: "Centra medium";
    src: url(fonts/CentraNo2-Medium.woff2);
}

@font-face {
    font-family: "Centra bold";
    src: url(fonts/CentraNo2-Bold.woff2);
}

@font-face {
    font-family: "Recoleta";
    src: url(fonts/Recoleta-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #D11544;
    --blue:#1668E3;
    --primary-bg-color:#191E3B;
    --secondary-bg-color:#F8F3E7;
    --grey: #D7D8DA;
    font-family: "Centra";
}

body {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: "Recoleta";
    font-size: 2.25rem;
    font-weight: 400;
}

h2 {
    font-family: "Recoleta";
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: 1.75rem;
}

header, #nav-wrapper {
    width: 100%;
}

#nav-wrapper {
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 1px 13px rgba(0,0,0,0.05);
}

main {
    min-height: 100vh;
}

nav, main, #hero {
    width: 62.5%;
}

nav {
    height: 75px;
    font-size: .9rem;
}

#nav-left > * {
    width: 50%;
    text-wrap: nowrap;
    color: var(--red);
}

#nav-search-logo {
    height: 1rem;
}

nav a, nav span {
    color: var(--red);
    font-family: "Centra medium";
}

#download {
    height: 1rem;
    position: relative;
    bottom: 1px;
}

#nav-right button {
    height: fit-content;
    padding: .5rem 1rem;
    background: none;
    border: 0.1px solid #818494;
    border-radius: 5rem;  
}

#nav-right button span {
    color: var(--blue);
}

.mini-gap {
    gap: 1rem;
}

.smaller-gap {
    gap: .375rem;
}

#msg {
    height: 1.5rem;
    position: relative;
    top: 4px;
}

#flag {
    height: .875rem;
}

#hero {
    background-image: url(hote.com/Hotels.com/imgi_3_Hcom_Hero_Banner_Masked.webp);
    background-size: cover;
    height: 400px;
    border-radius: 1rem;
}

form {
    width: 83%;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

#form-items {
    flex: 11;
    gap: .75rem;
}

#hero input {
    --padding-inline: .75rem;
    border: none;
    border-radius: .5rem;
    width: calc(100% - calc(var(--padding-inline) * 2));
}

#hero form button {
    padding: .75rem 1.25rem;
    border-radius: 5rem;
    border: none;
    background: var(--primary-bg-color);
    color: white;
    font-family: "Centra medium";
    font-size: 1rem;
    flex: 1;
}

form label {
    font-size: .75rem;
    font-family: "Centra bold";
    left: 2rem;
}

.form-item {
    position: relative;
    width: 33%;
    border: 1px solid grey;
    border-radius: .5rem;
}

.form-item > label {
    position: absolute;
    top: 0;
}

input::placeholder {
    font-family: "Centra";
    font-size: 1rem;
    color: var(--primary-bg-color);
}

.form-item > img {
    height: 1.25rem;
    padding: .75rem;
}

#login-promo {
    background: var(--primary-bg-color);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: calc(100% - 2rem);
    font-family: "Centra medium";
}


#login-promo img {
    height: 3rem;
}

#login-promo p {
    width: 80%;
}

#login-promo button {
    font-family: "Centra medium";
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--primary-bg-color);
    color: white;
}

#promo-cards > div {
    width: 32.5%;
}

#promo-cards > div > * {
    max-width: 50%;
}

.promo-card > div {
    border-radius: 1rem 0 0 1rem;
    background: var(--secondary-bg-color);
    padding: 1rem;
}

.promo-card img {
    border-radius:0 1rem 1rem 0  ;
}

.promo-text-medium {
    font-family: "Centra medium";
}

.promo-text-small {
    font-size: .75rem;
}

.text-medium-wrapper img {
    height: 1rem;
}

#promo-hero {
    min-height: 515px;
    width: 100%;
    background-image: url(hote.com/Hotels.com/imgi_8_HP_fr_FR_D_NM.jpg);
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    border-radius: 1rem;
}

#promo-hero > div {
    background: var(--secondary-bg-color);
    padding: 1.75rem;
    border-radius: 1rem;
    width: calc(388px - 3.5rem);
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

#promo-hero p {
    margin-top: 15px;
    font-size: 14px;
}

#promo-hero button {
    width: fit-content;
    padding: .75rem 1.25rem;
    border-radius: 5rem;
    font-weight: bold;
    border: none;
    background: var(--primary-bg-color);
    color: white;
    margin-top: 20px;
}

#test {
    height: 500px;
    background: red;
    width: 100%;
}

#discover {
    width: 100%;
}

#discover div {
    gap: 1rem;
}

#discover a {
    width: 20%;
}

#discover img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.img-container {
    position: relative;
}

.booking-buttons {
    position: absolute;
    height: 100%;
    width: 100%;
}

.booking-buttons img {
    height: 1.5rem !important;
}



/* #booking-cards .img-container::before {
    content: url(hote.com/Hotels.com/téléchargement\ \(12\).svg);
    top: calc(50% - 1.25rem);
    left: 1rem;
}

#booking-cards .img-container::after {
    content: url(hote.com/Hotels.com/téléchargement\ \(11\).svg);
    bottom: calc(50% - 1.25rem);
    right: 1rem;
}

#booking-cards .img-container::before, #booking-cards .img-container::after {
    height: 1.5rem;
    aspect-ratio: 1;
    display: inline-block;
    position: absolute;
    background: rgba(12, 14, 28, 0.6);
    border-radius: 50%;
    padding: .5rem;
}

#booking-cards .img-container:hover::before, #booking-cards .img-container:hover::after {
    background: rgba(12, 14, 28, 0.8);
    cursor: pointer;
}  */

#booking-cards .img-container {
    position: relative;
    margin-bottom: .5rem;
}

#booking-cards .img-container img {
    height: 208px;
    width: 100%;
    border-radius: 1rem;;
}

.truc {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    color: white;
    font-family: "Centra bold";
}

#limited-booking {
    width: 100%;
    position: relative;
}

.heading {
    font-size: .875rem;
}

#limited-booking button {
    position: absolute;
    right: 1rem;
    top: 0;
    padding: .75rem 1.25rem;
    border-radius: 5rem;
    font-weight: bold;
    border: none;
    background: var(--primary-bg-color);
    color: white;
}

.bolder {
    font-family: "Centra medium";
    font-weight: 700;
}

#booking-cards {
    margin-top: 1rem;
    gap:1.25rem;
}

.booking-card {
    width: calc(25% - 1.25rem);
}

.note {
    background: #227950;
    color: white;
    font-size: .75rem;
    font-family: "Centra medium";
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.review-cat {
    font-size: .875rem;
    font-family: "Centra medium";
}

.reviews {
    font-size: .75rem;
}

.name {
    font-family: "Centra medium";
    margin-top: .75rem;
    margin-bottom: .5rem;
}

.location {
    font-size: .875rem;
}

.low {
    font-size: 1.25rem;
    font-family: "Centra medium";
}

.normal {
    text-decoration:line-through;
    display: flex;
    align-items: baseline;
    font-weight: 400;
}

.euro {
    font-family: 'Segoe UI', sans-serif;
}

.card-content .smaller-gap {
    gap: .1rem;
}

.prices {
    margin-top: 2.5rem;
}

.price-infos-dot {
    height: 1.25rem;
}

.price-infos {
    font-size: .75rem;
}

.tag-content {
    background: #7b1fa2;
    color: white;
    align-items: center;
    font-family: "Centra medium";
    font-size: .75rem;
    gap: .375rem;
    width: fit-content;
    padding: .25rem .5rem;
    border-radius: .375rem;
    margin-top: .5rem;
}

.tag-content img {
    height: 1.125rem;
}

#popular-locations {
    width: 100%;
}

#popular-cards {
    gap:1.25rem;
}

.popular-card {
    width: calc(25% - 1.25rem);
    border: 1px solid #DFE0E4;
    border-radius: 1rem;
}

.popular-card * {
    margin: 0;
}

#popular-locations ul {
    margin-top: 1.5rem;
}

#popular-locations li {
    font-size: 0.875rem;
    font-family: "Centra medium";
}

#popular-locations li:hover {
    text-decoration: underline 2px;
    text-underline-offset: 11px;
    cursor: pointer;
}

#popular-locations .active {
    color:var(--blue);
    text-decoration: underline var(--blue) 2px;
    text-underline-offset: 11px;
}

.popular-card .location {
    margin-block: .375rem .5rem;
}

.popular-card .card-content {
    padding: .625rem;
}

#popular-locations .img-container img {
    height: 154px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

hr {
    border: 1px solid #DFE0E4;
    margin-block: .5rem 1.75rem;
}

#app {
    width: 100%;
    margin-top: 1.5rem;
}

#app > div {
    padding-inline: 1.5rem;
}

#app-container {
    width: 100%;
    height: 340px;
    border-radius: 1rem;
    border: 1px solid #DFE0E4;
    margin-top: 2.125rem;
}

#app .heading {
    font-family: "Centra bold";
    font-size: 1rem;
}

#dropdown {
    height: 1.25rem;
}

.left-pic {
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
}

.app-content {
    padding: 1.5rem;
}

#app ul {
    margin-top: .5rem;
}

#app li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
}

#app li::before {
    --size:20px;
    content: "•";
    font-size: var(--size);
    position: relative;
    height: fit-content;
    display: inline-block;
}

.qr-code {
    height: 146px;
    position: relative;
    top: 3rem;
    right: 1.375rem;
}

#app h2 {
    font-size: 2.25rem;
    margin: 0;
    line-height: 2.25rem;
}

#app a {
    text-decoration: underline;
    color: #1668E3;
}

.app-content p {
    font-family: "Centra bold";
}

.app-content > div {
    margin-top: 3rem;
}

.app-content .bottom {
    height: 30%;
}


footer {
    background: #F8F3E7;
    width: 99%;
    border-radius: 1rem;
    margin-bottom: .5rem;
    padding-block: 2rem;
}

#footer-content {
    width: 64%;
    margin: 0 auto;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
}

footer ul ul li:first-of-type {
    font-family: "Centra medium";
    font-size: .875rem;
    color: black;
}

footer li {
    font-family: "Centra medium";
    font-size: .75rem;
    color: var(--blue);
}

.lists {
    margin-top: 2rem;
}

.list-of-lists {
    width: 100%;
    gap: 1.25rem;
}

.list-of-lists ul {
    gap: 1rem;
    width: calc(20%);
}

footer hr {
    margin-top: 2rem;
}